html {
    min-height: 100%
}
body {
    background: linear-gradient(#003257, rgb(203, 0, 140));
}

article.page {  /* määrittää koko sivustolle leveyden, liukuvärin taustalle jne. */
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 1100px;
    margin: 0px auto 0px auto;
    font-size: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    position: relative;
}

.teksti_prociono {font-family: 'Prociono', serif;} /* Googlen vapaasti käytettäviä fontteja */
section {/*font-family: 'Michroma', sans-serif; */font-weight: 500;}
    h2 {font-family: 'Anton', sans-serif; color: #F0EBEB; font-weight:500;font-size:2em; margin-top: 0px}
h3 { font-family: 'Anton', sans-serif; color: #F0EBEB; font-size:1.5em; font-weight:500;}

header { /* Header-osion asetukset, tekstin varjostus, taustaväri ja läpinäkyvyys, fontti, fontinväri ja asettelu */
    background: rgba(47, 105, 131, 0.2); 
    color: #F0EBEB; 
    padding: 1em; 
    font-family: 'Homenaje', sans-serif;
    text-align: center; 
    font-size: 200%; 
    letter-spacing: 0.2em;
    text-shadow: 2px 2px black;
}

a { /* linkkien väriasetus */
    color: #00ffe2;
    text-decoration: none;
}

a:hover:not(.active) { /* linkki kun hiirtä pidetään linkin päällä */
    background-color: grey;
}

.active { /* linkin asetus kun linkki aktiivisena */
    background-color:#27566B;
}

nav { /* navigointipalkin asetukset, väri ja asetteluasetuksia */
    clear: both;
    padding: 1em;
    background-color: #404040;
    color: #F0EBEB;
    height: 1.875em;
    text-align: center;
}


nav ul { /* navigointipalkissa olevan listauselementin asetukset, listaus vaakasuorassa */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    font-family: 'Michroma', sans-serif;
}

nav li {
    float: left;
}

nav a { /* määrittely navigointipalkin linkeille */
    color: #F0EBEB;
    padding: 14px 16px;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

nav a:hover:not(.active) { /* navigointipalkin määrittely, kun hiiri viedään linkin päälle */
    background-color: grey;     
}

nav .active { /* navigointipalkin määrittely, kun linkki aktiivisena */
    background-color:#4CAF50;
}

section { /* sisältöosion asetukset */
    float: left;
    /*color: #000000;*/
    height: auto;
    padding: 50px 0px 50px 0px;
    overflow: auto;
    
}

section.content_left { /* sisältöosion vasemman kappaleen asetukset, väri, läpinäkyvyys, asettelu, kulmien pyöristys */
    float: left;
    width: 65%;
    color: #F0EBEB;
   /* background: rgba(237, 241, 242, 0.2); */
    padding: 2em 1em 2em 2em;
    /* margin: 2em 2% 2em 5%; */
    border: solid #AC9675 0px;
    border-radius: 10px;
    overflow: hidden;
}

section.content_right { /* sisältöosion oikean kappaleen asetukset, väri, läpinäkyvyys, asettelu, kulmien pyöristys */
    float: right;
    width: 25%;
    color: #F0EBEB;
   /* background: rgba(237, 241, 242, 0.2); */
    padding: 2em 1em 2em 2em;
   /* margin: 2em 5% 2em 2%; */
    border: solid #AC9675 0px;
    border-radius: 10px;
    overflow: hidden;
}

section.content_up{ /* sisältöosion ylemmän kappaleen asetukset, nämä käytössä harrastukset ja portfolio-osioissa */
    float: none;
    width: 80%;
    color: #F0EBEB;
    background: rgba(237, 241, 242, 0.2);
    padding: 2em 1em 2em 2em;
    margin: 2em 3.5em 1em 3.5em;
    border: solid #AC9675 0px;
    border-radius: 10px;
    overflow: hidden;
}


section.content_middle{ /* sisältöosion keskimmäisen kappaleen asetukset, nämä käytössä harrastukset ja portfolio-osioissa */
    float: none;
    width: 80%;
    color: #F0EBEB;
    background: rgba(237, 241, 242, 0.2);
    padding: 2em 1em 2em 2em;
    margin: 2em 3.5em 1em 3.5em;
    border: solid #AC9675 0px;
    border-radius: 10px;
    overflow: hidden;
}

img.etusivu { /* etusivulla olevan kuvan asetukset */
    width: 200px;
    height: auto;
    align-content: center;
    border-radius: 5px;
    margin: 0em 1em 1em 0em;
}

img.dokumentointi { /* etusivulla olevan kuvan asetukset */
    width: 80%;
    height: auto;
    align-content: center;
    border-radius: 5px;
    margin: 0em 1em 1em 2em;
}

img.portfolio { /* portfolio olevan kuvan asetukset */
    max-width: 60%;
    height: auto;
    align-content: center;
    border-radius: 5px;
    margin: 2em 1em 1em 10em;
}


footer { /* footerin asetukset*/
    clear: both;
    padding: 1em;
    background-color: #404040;
    color: #F0EBEB;
    height: 100px;
    text-align: center;
}

/* taulukon asetukset dokumentointiosiota varten */

    table {
        font-family: helvetica;
        border : 0px solid black;
        border-spacing: 0px;
        border-collapse: separate;
        margin: 1.5em 1em 1em 0em;
}
    table th{
        border: 1px solid black;
        border-spacing: 0px;
        padding: 3px;
        background-color: #404040;
        color: #F0EBEB;
        font-size: 1.2em;
        padding: 5px
    }
    table td {
        border: 1px solid black;
        border-spacing: 0px;
        padding: 0.5em;
    }
    
    table tr {
    background-color: cornsilk;
}
    